.encaps {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 1rem;
}

.addlist {
    margin-left: 0.5rem;
}

.delete {
    border-radius: 8px;
    width: auto;
    margin-left: 2rem
    
}